<div class="page-header">
              <h1>Toolkit</h1>
</div>
<div class="main-container">
  <p class="text-primary">This table lists tools I've demonstrated a skill level between Intermediate and Expert on, either presently or for past projects.</p>
  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th>#</th>
        <th>Category</th>
        <th>Instances</th>
        <th>Comments</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Package Managers</td>
        <td>apt-get, apm, npm, dpkg, yum, rpm, nuget</td>
        <td>Using apt-get regularly on personal laptop for leisure projects, and apm/npm lately for Angular2 work. Dpkg comes in handy for the occasional .deb install. And yum and rpm experience from UNIX/Linux server projects. Some NuGet for .Net work.</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Text Editors</td>
        <td>Emacs,vi/Vim, gedit, pico, Visual Studio, Mono Develop, Atom, Sublime Text, Notepad++, Eclipse</td>
        <td>IDEs preferred for efficiency (i.e. templates/scaffolding), but pico's good for quick edits. Currently using Visual Studio and Sublime Text heavily. Atom is a favorite, but is crashing on Ubuntu. Unfortunate since Atom "awesome-mode" is, well, awesome. Plain text editing is fine, but keyword highliting and reference resolution come in handy.</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Automated Build Tools</td>
        <td>Nant</td>
        <td>Used to use Nant to define compilation, unit text execution, file copy and other build functionality for .Net code. These days IDEs like Visual Studio handle all that for you.</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Unit Testing</td>
        <td>NUnit, JUnit</td>
        <td>Essential part of coding to make sure that your code changes don't break other features. Getting to know Angular2 unit testing framework, but past experience was C# and Java.</td>
      </tr>
      <tr>
        <td>5</td>
        <td>Operating Systems</td>
        <td>Linux (Red Hat, SUSE, CentOS, Ubuntu), Solaris UNIX, Windows/Win Server</td>
        <td>Typically Windows/Windows server for "licensed" development and some flavor of Linux for Open Source. UNIX/Linux server administrator on past projects. Ubuntu is the best.</td>
      </tr>
      <tr>
        <td>6</td>
        <td>Source Control</td>
        <td>Git, TFS, Tortoise SVN, CVS, SourceSafe</td>
        <td>A must have for teams and for situations where you've gone too far down the wrong path on some code logic, and need to return to the last time it was working. Presently using Git a lot.</td>
      </tr>
      <tr>
        <td>7</td>
        <td>Databases</td>
        <td>MySql, SQL Server</td>
        <td>Relational databases for data persistence. Significent use of data modeling methods like class, sequence, and ER diagrams. Some data normalization and design starting from business rules.</td>
      </tr>
      <tr>
        <td>8</td>
        <td>High-Level Languages</td>
        <td>C#/VB, Java, Typescript/JQuery, Python 2, SQL, HTML/CSS</td>
        <td>Server and client-side languages for UI, middle-tier, and data access. use of XML subsets like HTML and CAML that boil down to a hierarchical element-attribute-value relationship. Lately working with "transpiled" JavaScript and CSS languages. Some experience with rule-based CLIPS for expert systems. </td>
      </tr>
      <tr>
        <td>9</td>
        <td>Low-level and Scripting Languages</td>
        <td>MIPS, CLIPS, HDL,Bash, DOS</td>
        <td>Preference for languages close to the hardware. Past experience with MIPS. Currently coding chips in HDL. Sooner or later, the GUI will fail you, thus Bash and DOS .
        (Pull out the big guns and append a --force switch). Tedious task automation like 8th sub-directory file access via 'cd' usually gets scripted. </td>
      </tr>
    </tbody>
  </table> 
</div>