		<div id="container">
		
			<!--Left Column-->
					<div class="col">
						<!--1-->
						<div class="item">
							<div class="desc">
								<p> {{sampleItem.description}}</p>
							</div>
							<div class="desc-links">
								<a href="{{sampleItem.repoUrl}}" target="_blank">BitBucket</a>|
								<a href="{{sampleItem.demoUrl}}" target="_blank">Demo</a>
							</div>
							<div class="overlay" style="opacity: 1;top: 0px;"[@dismissBox]="currentOverlayState">
								<img class="overlay-img" src="{{sampleItem.overlayImgUrl}}"(mouseover)="slideFade()"/>
								<span class="overlay-text">{{sampleItem.overlayTitle}}</span>
							</div>
						</div>
					</div>

				<!--Right Column-->
					<div class="col">
						<div class="item">	
							<div class="screenshot">
								<a href="{{sampleItem.demoUrl}}" target="_blank">
									<img src="{{sampleItem.screenshotUrl}}}" [@showScreenshot]="currentScreenshotState"/>
								</a>
							</div>	
							<div class="item-footer-right" [@showRightTitle]="currentRightTitleState">
							{{sampleItem.rightFooterTitle}}	
							</div>
						</div>
					</div>
				
		</div>

