body{}

#container
{

	width:960px;
	/*border: 1px solid #000;*/
	padding: 0px;
	margin: 0px auto 0px auto;

}

#nav
{
	width: 960px;
	height: 80px;
	margin: 0px 10px 0px 10px;
	padding: 0px;
	border: 1px solid #010;
}

.col
{
	width: 458px;
	margin: 10px 10px 10px 10px;
	float: left;
	position: relative;
	/*border: 1px solid red;*/
	z-index:-1;
	
}

/*Container for each code sample item*/
.item
{
	width: 454px;
	height: 454px;
	float: left;
	position: relative;
	margin: 10px 0px 10px 0px;
	/*font-family: Verdana, Geneva, sans-serif;*/
	border: 1px solid lightgray;
	border-radius: 35px;
	z-index:-1;
	

}

.desc{
	height:404px;
	position:absolute;
}

.desc-links{
	position:relative;
	top: 385px;
	text-align: center;	
}

.desc-links a{
	padding: 0px 10px 0px 10px;
}

/*Description Text*/
.desc p{
	position: relative;
	top: 50px;
	padding-left:60px;
	padding-right:60px;
	text-align: center;
	z-index: 1;

}

/*Animated element*/
.overlay{
	width:454px;
	height:454px;
	position:absolute;
	z-index:500;

}

/*App Title*/
.overlay-text{
	color: white;
	/*font-family: Verdana, Geneva, sans-serif;*/
	font-family: Verdana, Geneva, sans-serif;
	font-size: 24px;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 500;
	transform: translate(-50%,-50%);
}

/*Color Square*/
.overlay-img{
	width:454px;
	height:454px;
	position:relative;
	top:0px;
	left:0;
	z-index:400;
}

.item-footer-right{
	position: relative;
	top: 15px;
	/*top: 405px;*/
	left:8px;
	height: 30px;
	width: 434px;
	text-align: center;
	padding: 10px;
	/*border: 1px solid pink;*/
	opacity:0;
	font-weight: bold;
	color: #5c2040;
	z-index:100;

}

.screenshot img{
	position: relative;
	height: 400px;
	width: 450px;
	/*text-align: center;*/
	border-top-left-radius: 35px;
	border-top-right-radius: 35px;
	opacity:0;
	z-index:400;

}
