  
<div id="nav-banner">
    <h1 id="title-banner" style="font-size: 4em;">  
      {{title}}
    </h1>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!--a class="navbar-brand" href="#">Brand</a-->
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        <ul class="nav navbar-nav">
          <li><a routerLink="">HOME <!--span class="sr-only">(current)</span--></a></li>
          <li><a routerLink="/toolkit">TOOLKIT <!--span class="sr-only">(current)</span--></a></li>
          <li><a routerLink="/experience">EXPERIENCE</a></li>
          <li><a routerLink="/code">CODE</a></li>
          <!--TODO: refactor into separate componentsfor each language/framework
           <li class="dropdown" (click)="toggleAriaExpanded();" [ngClass]="{'open':isAriaExpanded}">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" [attr.aria-expanded]="isAriaExpanded">CODE<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Python</a></li>
              <li><a href="#">JavaScript+</a></li>
              <li><a href="#">CSharp</a></li>
              <li><a href="#">HDL</a></li>
              <li><a href="#">Bash</a></li>
            </ul>
          </li-->
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Courtney Madise</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>