<div class="page-header">
    <h1>Experience</h1>
</div>
<div class="main-container">
	<p class="text-primary">I pick up on new technologies quickly. Below is a high-level listing of how I've used the tools in my toolkit. Some items are scoped to work assignments. Others, like the "Scripting" section, span all of my projects since they pertain to coding in general.</p>
	
	<!--Angular2 Apps-->
		<div class="list-group" style="width:200px;margin-left:25px;">
		  <a class="list-group-item active">
		   Angular2 Apps
		  </a>
		  <a class="list-group-item">
		   TypeScript
		  </a>
		  <a class="list-group-item">
		  	Node.js
		  </a>
		</div>
	<blockquote>
		<p>Currently doing a deep dive of Angular2 while supporting my team's port of a legacy .Net web application to Angular2. The new version has an Angular2 UI, Angular2 web service, and connects to a .Net Entity Framework module for the data access on the server side. It's using Bootstrap for responsive design. Lots of work on Angular2 prototypes as new release candidates--and now the final version--are released. This portfolio is Angular2. </p>
	</blockquote>

	<!--DotNet and Java-->
		<div class="list-group" style="width:200px;margin-left:25px;">
		  <a class="list-group-item active">
		  DotNet and Java Web Applications
		  </a>
		  <a class="list-group-item">
		  ArcGIS
		  </a>
		  <a class="list-group-item">
		  .Net
		  </a>
		  <a class="list-group-item">
		  Java
		  </a>
		</div>
	<blockquote>
		<p>Mostly using Microsoft's web development frameworks lately (SharePoint, ArcGIS, Web Forms etc.). I started out on Java J2EE. Some ESRI GIS web app development in Java and C#. Lots of work with object-oriented coding--page life cycle, event handling framework, client-server architecture etc. Small to moderate updates and rewriting of old VB.Net and classic VB as needed. Excel macros are interesting to code. GIS mapping was one of my favorite projects.</p>
	</blockquote>

	<!--Graphic Design-->
		<div class="list-group" style="width:200px;margin-left:25px;">
		  <a class="list-group-item active">
		  Graphic Design
		  </a>
		  <a class="list-group-item">
		  Inkscape
		  </a>
		  <a class="list-group-item">
		  Fireworks
		  </a>
		  <a class="list-group-item">
		   HTML/CSS
		  </a>
		  <a class="list-group-item">
		   JQuery, JavaScript, TypeScript
		  </a>
		</div>
	<blockquote>
		<p>I create graphics and design of layouts for personal and work projects as needed. Use of wireframing for layout design. Custom graphic creation and UI effects in support of larger coding tasks depending on what's needed for the project.</p>
	</blockquote>

	<!--Scripting-->
		<div class="list-group" style="width:200px;margin-left:25px;">
		  <a class="list-group-item active">
		  Scripting
		  </a>
		  <a class="list-group-item">
		  Bash
		  </a>
		  <a class="list-group-item">
		  DOS
		  </a>
		  <a class="list-group-item">
		   API Executables: cpp, python, cs, java 
		  </a>
		</div>
	<blockquote>
		<p> OS command line is unavoidable especially when access is denied through the windowing software. Scripting in both Windows and UNIX-like systems throughout my career. I've comfortable working in these file systems. GUI always has a command line equivalent. My rule is to learn the switches; and, when in doubt, type "man".</p>
	</blockquote>

	<!--SharePoint Applications-->
	<div class="list-group" style="width:200px;margin-left:25px;">
		  <a class="list-group-item active">
		   SharePoint Applications
		  </a>
		  <a class="list-group-item">
		   C#
		  </a>
		   <a class="list-group-item">
		   Telerik RAD Controls
		  </a>
		  <a class="list-group-item">
		   Custom Web Parts
		  </a>
		  
		  
		</div>
	<blockquote>
		<p> Currently writing custom web parts and porting legacy .Net pages to web part equivalents. Former tasks include writing Manifest and Diamond Directive Files by hand and building WSP archives with stsadm. Lots of experience writing list and site definitions. Previous roles as server administrator as well. </p>
	</blockquote>
	
</div>