.experience-text{
	width:960px;
	border: 1px solid red;
	padding: 0px;
	margin: 0px auto 0px auto;
}

.main-container{
	width:960px;
	/*border: 1px solid #000;*/
	padding: 0px;
	margin:10px auto 20px auto;
}