.main-container{
	width:600px;
	/*border: 1px solid #000;*/
	padding: 0px;
	margin:10px auto 20px 80px;
}

.main-container1{
	width:960px;
	/*border: 1px solid #000;*/
	padding: 0px;
	margin:0px auto 70px auto;
}


