<div class="main-container">
	<i><blockquote>
	  <p>"There are two kinds of people in the world--those who understand binary and those who don't."</p>
	  <small>Someone on the Internet</small>
	</blockquote></i>

	
</div>


<div class="main-container1">
	<p id="intro-blurb">
	I got into building HTML web pages back in 1995 when it was sort of rare to have a home PC and Windows 3.1 was still a popular operating system. Midi files and spinning GIFs were all the rage. In 1998, I learned Turbo Pascal. It was all downhill from there. I liked programming enough to dedicate 4 years of study to it in college. </p>

	<p>20 years later, I'm still into it. Many languages, frameworks, and operating systems have crossed my desk, and my philosophy is that Computer Science is a body of knowledge worth wading in both for work AND for leisure.
	</p>

	<p>
		That said, this little plot on the Internet represents both what I've done and what I look forward to doing in my favorite world--that of bits and Bytes.
	</p>

	

	<div style="width:300px;">
		<h3>What's Here</h3>
		<div class="list-group">
		  <a href="#" class="list-group-item">
		    <h4 class="list-group-item-heading">Toolkit</h4>
		    <p class="list-group-item-text">Stuff I Use</p>
		  </a>
		  <a href="#" class="list-group-item">
		    <h4 class="list-group-item-heading">Experience</h4>
		    <p class="list-group-item-text">Things I've Done</p>
		  </a>
		  <a href="#" class="list-group-item">
		    <h4 class="list-group-item-heading">Code</h4>
		    <p class="list-group-item-text">Some Samples</p>
		  </a>
		</div>
		
	</div>
</div>
	
